/**************
Global Styles
**************/

* {
    margin: 0;
}
a {
    color: #78288b;
    text-decoration: none;
}
a:hover {
    color: #bb25ad;
}
body {
    font-family: 'Lato', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    font-weight: 300;

    background-color: #fcfcfc;

}
/**************
ID Selectors
**************/

#product h4,
#product p {
    text-align: center;
    line-height: 1.5em;
}

#product h4 {
    padding-top: 1em;
}

#food {
    width: 100%;
}

#product .card {
    width: 75%;
    margin: 0 auto;
    cursor: pointer;
}

#product .card img {
    width: 50%;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
    margin-top: 1em;
}

#product .card {
  background-color:#fcfcfc;
  /* border-radius: 1em; */
  /* box-shadow: 3px 3px 3px #888888; */
  margin-bottom: 1em;
  border-bottom: 1px dotted gray;
}

#hero {
    background-image: url('img/cover.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 10rem 1rem 2rem 1rem;
    color: white;
}


#hero {
    background-image: url('img/cover.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 10rem 1rem 2rem 1rem;
    color: white;
}

#hero h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.3;

    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
#hero.subhero {
    padding: 2rem 1rem;
}

#hero.jobs {
    background-image: url('img/jobs-hero.jpg');
    background-position: center 75%;
}

img {
    max-width: 100%;
}

@media (min-width: 600px){
    #hero h1 {
        font-size: 2rem;
    }

    #container {
        margin-top: 84px !important;
    }
}

   
@media (min-width: 750px){
    #hero, #jobs-hero {
        background-position: center;
        background-size: cover;
        padding: 4rem 2rem;
    }
   #container {
     margin-top: 124px !important;
  }
    #hero h1 {
        font-size: 2.5rem;
        padding-left: 50%;
        text-align: left;
    }
}
@media (min-width: 1200px) {
      
    #hero.subhero {
        padding: 3rem 2rem;
    }
    #hero h1 {
        font-size: 2rem;
        padding-left: 50%;
        text-align: left;
    }
    #container {
        margin-top: 84px !important;
    }
}
@media (min-width: 1000px) {
    #hero.subhero h1 {
        font-size: 2.5rem;
    }
}
@media (min-width: 1200px) {
    #hero, #jobs-hero {
        padding: 8rem 2rem;
    }
    #hero h1 {
        font-size: 3rem;
    }
}

#logo {
    height: 50px;
    width: auto;
}
#branding h2 {
    margin-left: 2rem;
    color: #333;
}
#branding {
    margin: 1rem 1rem 1rem 3rem;
    display: flex;
    align-items: center;
}
@media (max-width: 600px){
    #branding {
        justify-content: center;
    }
}

/**************
Element Selectors
**************/

/**************
Element Selectors
**************/

main {
    margin: 0 0.5rem;
    margin-top: 1em;
}
nav {
    background: white;
}

nav ul,
footer ul {
    padding-left: 0;
    list-style: none;
}

footer li a {
    font-size: 0.75rem;
}

footer {
    text-align: center;
    margin-top: 1em;
}


footer small {
    margin-top: 1em;
    font-style: italic;
    display: block;
}

/**************
Class Selectors
**************/

.lead {
    font-size: 1.2em;
    width: 80%;
    margin: auto;
}
.lead p {
    margin: 1rem 0;
}
.lead blockquote {
    padding: 0 2rem;
    margin: 2rem 0;
    font-size: 1.2em;
    border-left: 4px solid #bb25ad;
}

.flex-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2em;
}
.flex-nav li {
    padding: .25rem 0;
}
.flex-nav li i {
    margin-right: .25rem;
}

.material-icons {
    transform: translate(-1px, 20%);
}

#posse h1 {
    text-align: center;
    margin: 1em;
    font-size: 2em;
}
#posse .card {
    background-color: #e9ebee;
    border-radius: 1em;
    box-shadow: 3px 3px 3px #888888;
    margin-top: 1em;
}

#posse .card img {
    width: 10rem;
    border-radius: 50%;
    float: left;
    margin-right:  5px;
    margin-bottom: 2px;
}
#posse .card header h3 {
    text-align: center;
    padding: 0.5em;
}


#jobs .apply-btn {
        background: #b21cc9;
        border-radius: 15px;
        color: white;
        font-size: 15px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        margin: 1rem auto;
        transform: translate(18rem)
}

#job-title-span {
    background-color: #e9ebee;
    width: 110%; 
    margin-left: -5%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 20px;
    height: 5rem;
}

#job-title-span h3 {
    padding-top: 1%;
    font-size: 15px; 
}

.job-flex-item {
    margin: 1rem auto;
    background-color: #e9ebee;
    padding: 1rem 1rem;
    border-radius: 5%;
}

#jobs-hero {
    background-image: url('img/jobs-hero.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10rem 1rem 2rem 1rem;
    width: 110%;
    margin-left: -5%;
    color: white;
}

/**************
ID Selectors
**************/

#social ul {
    margin-top: 1em;
}
#social li {
    display: inline;

}

#copyright {
    margin-bottom: 1em;
}

/**************
Pseudo-Class Selectors
**************/

/**************
Clearfix
**************/

/**************
Media Queries
**************/

@media (min-width: 600px){
    

    /************
    Products
    ************/
    .flex-product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main {
        width: 90%;
        margin: 3rem auto;
    }


    main.featured article {
        padding: 1rem 3rem 3rem 3rem;
        font-size: 1.3rem;
        min-height: 300px;
    }
    main.featured article img {
        float: left;
        height: 300px;
        margin: 0 1rem 1rem 0;
    }
    
    main.featured h1 {
        margin: 1rem 0;
    }

    /************
    Posse Main
    ************/

    .flex-posse {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #posse .card {
        width: 30%;
        margin-right: 1em;
    }
    #posse .card  img {
        float: left;
    }

    #posse .card h3 {
        font-size: 1.25em; 
    }
    #posse .card main {
        margin-top: 1em;
    }

    /************
    Header
    ************/

    ul.flex-nav {
        display: inline-flex;
    }
    .flex-nav li {
        padding-left: 2rem;
    }
    nav {
        width: 100%;
        position: fixed;
        top: 0px;
        margin-bottom: 0;
        padding-bottom: 0rem;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row !important;
        text-align: center;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        color: #333;
    }
    
   
    /************
    Footer
    ************/
    footer a {
        font-size: 1em !important;
    }
    footer ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    footer small {
        display: inline;
        margin-left: 1em;
    }
    footer li {
        display: inline;
        margin-right: 1em;
    }
    #copyright {
        margin-top: 1em;
    }
    #social ul {
        margin-bottom: 1em !important;
    }
    #social ul {
        margin-top: 1em;
    }

    /**************
    about.html
    **************/
    #about-mission p {
        text-align: center;
    }

}

/**************
about.html
**************/

#about-mission {
    background-color: #e9ebee;
    padding-bottom: 1em;
}

#about-mission h2 {
    padding-top: 0.5em;
}

#about-mission p {
    margin-left: 0.5rem; 
    font-style: italic;
    text-align: center; 
}

#about-history,
#about-mission {
    margin-top: 2em;
}

#about-history h1,
#about-history h3,
#about-mission h2,
#about-history h4 {
    text-align: center;
    margin: .75em;
}

#about-history p {
    text-indent: 25px;
    text-align: justify;
    text-justify: inter-word;
}