/**************
Global Styles
**************/

* {
    margin: 0;
}
a {
    color: #78288b;
    text-decoration: none;
}
a:hover {
    color: #bb25ad;
}
body {
    font-family: 'Lato', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    font-weight: 300;
}
/**************
ID Selectors
**************/
.flex-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#product .card  img {
  float: left;
  height: 80%;
  border-radius: 22%;
  padding: 1em 2em;
}

#product .card {
  background-color: #e9ebee;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #888888;
  margin-top: 1em;
  width: 72%;
  height: 13%;
  padding: 2em;
}

.p-section {
  width: 33%;
}

#hero {
    background-image: url('img/cover.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 10rem 1rem 2rem 1rem;
    color: white;
}
#hero h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0,5);
}

@media (min-width: 600px){
    #hero h1 {
        font-size: 2rem;
    }

    #container {
        margin-top: 84px !important;
    }
}
@media (min-width: 750px){
    #hero {
        background-position: center;
        background-size: cover;
        padding: 4rem 2rem;
    }
    #hero h1 {
        font-size: 2.5rem;
        padding-left: 50%;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    #hero {
        padding: 8rem 2rem;
    }
    #hero h1 {
        font-size: 3rem;
    }
}
#logo {
    height: 50px;
    width: auto;
}
#branding h2 {
    margin-left: 2rem;
    color: #333;
}
#branding {
    margin: 1rem 1rem 1rem 3rem;
    display: flex;
    align-items: center;
}
@media (max-width: 600px){
    #branding {
        justify-content: center;
    }
}

/**************
Element Selectors
**************/

main {
    margin: 0 0.5rem;
    margin-top: 1em;
}
nav {
    background: white;
}

nav ul,
footer ul {
    padding-left: 0;
    list-style: none;
}

footer li a {
    font-size: 0.75rem;
}

footer {
    text-align: center;
    margin-top: 1em;
}


footer small {
    margin-top: 1em;
    font-style: italic;
    display: block;
}

/**************
Class Selectors
**************/

.lead {
    font-size: 1.2em;
    width: 80%;
    margin: auto;
}
.lead p {
    margin: 1rem 0;
}
.lead blockquote {
    padding: 0 2rem;
    margin: 2rem 0;
    font-size: 1.2em;
    border-left: 4px solid #bb25ad;
}

.flex-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2em;
}
.flex-nav li {
    padding: .25rem 0;
}
.flex-nav li i {
    margin-right: .25rem;
}

.material-icons {
    transform: translate(-1px, 20%);
}

#posse h1 {
    text-align: center;
    margin: 1em;
    font-size: 2em;
}
#posse .card {
    background-color: #e9ebee;
    border-radius: 1em;
    box-shadow: 3px 3px 3px #888888;
    margin-top: 1em;
}

#posse .card img {
    width: 10rem;
    border-radius: 50%;
    float: left;
    margin-right:  5px;
    margin-bottom: 2px;
}
#posse .card header h3 {
    text-align: center;
    padding: 0.5em;
}

/**************
ID Selectors
**************/

#social ul {
    margin-top: 1em;
}
#social li {
    display: inline;
}

/**************
Pseudo-Class Selectors
**************/

/**************
Clearfix
**************/

/**************
Media Queries
**************/

@media (min-width: 600px){
    
    main {
        width: 90%;
        margin: 3rem auto;
    }

    /************
    Posse Main
    ************/

    .flex-posse {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #posse .card {
        width: 30%;
        margin-right: 1em;
    }
    #posse .card  img {
        float: left;
    }
    #posse .card footer {

    }

    /************
    Header
    ************/

    ul.flex-nav {
        display: inline-flex;
    }
    .flex-nav li {
        padding-left: 2rem;
    }
    nav {
        width: 100%;
        position: fixed;
        top: 0px;
        margin-bottom: 0;
        padding-bottom: 0rem;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row !important;
        text-align: center;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        color: #333;
    }
    
   
    /************
    Footer
    ************/
    footer a {
        font-size: 1em !important;
    }
    footer ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    footer small {
        display: inline;
        margin-left: 1em;
    }
    footer li {
        display: inline;
        margin-right: 1em;
    }
    #copyright {
        margin-top: 1em;
    }
    #social ul {
        margin-top: 1em;
    }
}