* {
    margin: 0;
}

/**************
ID Selectors
**************/

#hero {
    background-image: url('img/cover.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 10rem 1rem 2rem 1rem;
    color: white;
}
#hero h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}
@media (min-width: 600px){
    #hero h1 {
        font-size: 2rem;
    }
}
@media (min-width: 750px){
    #hero {
        background-position: center;
        background-size: cover;
        padding: 4rem 2rem;
    }
    #hero h1 {
        font-size: 2.5rem;
        padding-left: 50%;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    #hero {
        padding: 8rem 2rem;
    }
    #hero h1 {
        font-size: 3rem;
    }
}

/**************
Element Selectors
**************/

header h2 {
    text-align: center;
}
nav li a,
footer li a {
    text-decoration: none;
}

main {
    margin: 0 0.5rem;
    margin-top: 1em;
}

nav ul,
footer ul {
    padding-left: 0;
    list-style: none;
}

footer li a {
    font-size: 0.75rem;
}

nav,
footer {
    text-align: center;
    margin-top: 1em;
}


footer small {
    margin-top: 1em;
    font-style: italic;
    display: block;
}

/**************
Class Selectors
**************/

.flex-nav {
    display: flex;
    flex-direction: column;
}

/**************
ID Selectors
**************/

#social ul {
    margin-top: 1em;
}
#social li {
    display: inline;
}

/**************
Pseudo-Class Selectors
**************/

/**************
Clearfix
**************/

/**************
Media Queries
**************/

@media (min-width: 600px){
    nav li {
        margin-right: 1em;
    }
    nav ul {
        flex-direction: row !important;
        justify-content: center;
    }
    main {
        width: 90%;
        margin: 0 auto;
    }
    

    /************
    Footer
    ************/
    footer a {
        font-size: 1em !important;
    }
    footer ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    footer small {
        display: inline;
        margin-left: 1em;
    }
    footer li {
        display: inline;
        margin-right: 1em;
    }
    #copyright {
        margin-top: 1em;
    }
    #social ul {
        margin-top: 1em;
    }
}