* {
    margin: 0;
}

/**************
ID Selectors
**************/

#hero {
    background-image: url('img/cover.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 10rem 1rem 2rem 1rem;
    color: white;
}
#hero h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0,5);
}

@media (min-width: 600px){
    #hero h1 {
        font-size: 2rem;
    }

    #hero {
        margin-top: 84px !important;
    }
}
@media (min-width: 750px){
    #hero {
        background-position: center;
        background-size: cover;
        padding: 4rem 2rem;
    }
    #hero h1 {
        font-size: 2.5rem;
        padding-left: 50%;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    #hero {
        padding: 8rem 2rem;
    }
    #hero h1 {
        font-size: 3rem;
    }
}

/**************
Element Selectors
**************/

header h2 {
    text-align: center;
}

nav {
    background: rgba(61, 59, 59, 0.7);
    padding-top: 1rem;
    text-align: center;
    margin-bottom: -16px;
    padding-bottom: 1rem;
    color: white;
}

nav li a,
footer li a {
    text-decoration: none;
}

main {
    margin: 0 0.5rem;
    margin-top: 1em;
}

nav ul,
footer ul {
    padding-left: 0;
    list-style: none;
}

nav ul {
    margin-bottom: 1rem;
}

nav li a:visited {
    color: white;
}

footer li a {
    font-size: 0.75rem;
}

footer {
    text-align: center;
    margin-top: 1em;
}


footer small {
    margin-top: 1em;
    font-style: italic;
    display: block;
}

/**************
Class Selectors
**************/


.flex-nav {
    display: flex;
    flex-direction: column;
}


.material-icons {
    transform: translate(-1px, 20%);
}

#posse h1 {
    text-align: center;
    margin: 1em;
    font-size: 2em;
}
#posse .card {
    background-color: #e9ebee;
    border-radius: 1em;
    box-shadow: 3px 3px 3px #888888;
    margin-top: 1em;
}

#posse .card img {
    width: 10rem;
    border-radius: 50%;
    float: left;
    margin-right:  5px;
    margin-bottom: 2px;
}
#posse .card header h3 {
    text-align: center;
    padding: 0.5em;
}

/**************
ID Selectors
**************/

#social ul {
    margin-top: 1em;
}
#social li {
    display: inline;
}

/**************
Pseudo-Class Selectors
**************/

/**************
Clearfix
**************/

/**************
Media Queries
**************/

@media (min-width: 600px){
    
    main {
        width: 90%;
        margin: 0 auto;
    }


    /************
    Posse Main
    ************/

    .flex-posse {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #posse .card {
        width: 30%;
        margin-right: 1em;
    }
    #posse .card  img {
        float: left;
    }
    #posse .card footer {

    }

    /************
    Header
    ************/

    #logo-filler {
        display: inline-block;
        margin-right: 0;
        padding-right: 0;
    }

    ul.flex-nav {
        display: inline-flex;
    }

    nav {
        width: 100%;
        position: fixed;
        top: 0px;
        margin-bottom: 0;
        padding-bottom: 0rem;
    }

    nav ul {
        flex-direction: row !important;
        margin-left: 1rem;
    }
     
    nav li {
        margin-right: 1em;
    }
   
    /************
    Footer
    ************/
    footer a {
        font-size: 1em !important;
    }
    footer ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    footer small {
        display: inline;
        margin-left: 1em;
    }
    footer li {
        display: inline;
        margin-right: 1em;
    }
    #copyright {
        margin-top: 1em;
    }
    #social ul {
        margin-top: 1em;
    }
}